html {
  font-size: 16px;
}

body {
    max-width 100%;
    font-family: 'Multi', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000;
}
/* navigation bar */
.nav-bar {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 4em;
  width: 100%;
  background-color: #FFF;
  justify-content: space-between;
}

.nav-bar-logo a {
  display: flex;
  align-items: center;
  height: 2em;
  width: auto;
}

.nav-bar-logo a:hover {
  opacity: 0.5;
}

.nav-bar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

.nav-bar-menu a:hover {
  color: #666;

}

.nav-bar-menu li{
  padding: 1em;
}

.nav-bar-mobile {
  display: none;
}

/* navigation bar - mobile */

@media only screen and (max-width: 460px){
  .nav-bar {
    display: none;
  }
  .nav-bar-logo {
    display: none;
  }
  .nav-bar-menu {
    display: none;
  }
  .nav-bar-mobile {
    height: 4em;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .nav-bar-mobile a:hover {
    opacity: 0.5;
  }
  .nav-bar-mobile img:hover {
    opacity: 0.5;
  }
}

/* 1st section - learn something */

.learn {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #FCFFF5;
}

.learn-img {
  width: 60%;
  height: auto;
  margin: 2em 1.5em;
}

.learn-img img {
  width: 100%;
}

.learn-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 25%;
}

#button {
  text-align: center;
  font-size: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: none;
  background-color: #7E7F7A;
  color: #CACCC4;
}

#button:hover {
  background-color: #CACCC4;
  color: #7E7F7A;
}

/* 1st section - learn something - mobile */

@media only screen and (max-width: 460px){
  .learn {
    display: flex;
    flex-direction: column;
    background-color: #FCFFF5;
  }
  .learn-img {
    width: 100%;
    height: auto;
    margin: 0;
  }
.learn-box {
    width: 100%;
    padding: 2em 0 2em 1em;
    justify-content: center;
}
.learn-box p {
  margin-top: 2em;
  margin-bottom: 1.5em;
}
.learn-box button {
  width: 90%;
}
}

/* 2nd section - practicing */

.practicing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em 0 2em 2em;
  background-color: #CBDBD7;
}

.practicing-left-column {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
}


.practicing-img {
  padding: 0 1.5em 2em 0;
}

.practicing-img img {
  width: 100%;
}

.practicing-right-column {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.practicing-boxes {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.practicing-boxes-img {
  width: 35%;
  height: auto;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.practicing-boxes-img img {
  width: 100%;
}
.practicing-boxes-img-mobile {
  display: none;
}

#practicing-boxes-img-first {
  margin-top: 0;
}


.practicing-boxes-text {
  width: 65%;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  align-content: center;
}

.practicing-boxes-text p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.practicing-boxes-text a {
  color: #7E7F7A;
}
.practicing-boxes-text a:hover {
  color: #CACCC4;
}

/* 2nd section - practicing - mobile */

@media only screen and (max-width: 460px){
  .practicing {
    flex-direction: column;
    justify-content: center;
    padding: 1em 1em 2em 1em;
  }

  .practicing-left-column {
    display: none;
  }

  .practicing-right-column {
    width: 100%;
  }

  .practicing-boxes {
    flex-direction: column;
    padding-bottom: 2em;
  }

  .practicing-boxes-text {
    width: 100%;
    margin: 1em;
  }

  .practicing-boxes-img{
    display: none;
  }

  .practicing-boxes-img-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
  }
}
/* 3rd section - start learning */

.start-learning {
  padding: 1em 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #91AAB4;
}

.start-learning h1 {
  display: flex;
  justify-content: center;
}

.start-learning-boxes {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}



.start-learning-boxes-mobile {
  display: none;
}

.start-learning-box {
  margin: 1em;
  display: flex;
  flex-direction: column;
  width: 29%;
  height: auto;
}

.start-learning-box:hover {
  background-color: #CBDBD7;
}

.start-learning-box-img img {
  width: 100%;
}

.start-learning-box-text {
  margin: 1em 0 1.5em 1em;
}

.start-learning-box-text h3 {
  margin-top: 0.5em 0 0.5em 0;
}

/* 3rd section - start learning - mobile */

@media only screen and (max-width: 460px){
  .start-learning-boxes{
    display: none;
  }

  .start-learning{
    padding-top: 2em;
    margin-bottom: 1em:
  }

  .start-learning-boxes-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  .start-learning-boxes-mobile-rectangles{
    padding: 1em 0 1.5em 1em;
    margin-bottom: 0.5em;
    width: 90%;
    height: auto;
  }

  .start-learning-boxes-mobile-rectangles:hover {
    background-color: #CBDBD7;
  }

  #marketing{
    margin-bottom: 2em;
  }
}

/* 4th section - thesis exibit */

.thesis {
  padding: 0 0 2em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3E606F;
}

.thesis h1{
  display: flex;
  justify-content: center;
}

.thesis-columns {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.thesis-column-left {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1.5em;
}

.thesis-video video{
  width: 100%;
  height:auto;
  margin-bottom: 1.5em;
}

.thesis-column-right {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.thesis-column-right-boxes {
  display: flex;
  flex-direction: row;
}

.thesis-column-right-boxes:hover {
    background-color: #91AAB4;
}

.thesis-column-right-boxes-img {
  margin: 1em 1em;
  width: 35%;
  height: auto;
}

.thesis-column-right-boxes-img img{
  width: 100%;
}

.thesis-column-right-boxes-text {
  width: 65%;
  display: inline-block;
}

/* 4th section - thesis exibit - mobile*/
@media only screen and (max-width: 460px){
  .thesis-column-right {
    display: none;
  }

  .thesis-column-left-text {
    display: none;
  }
  .thesis {
    padding: 0;
  }

  .thesis-column-left{
    width: 100%;
    height: auto;
    justify-content: center;
    margin-right: 0;
  }

  .thesis-header {
    margin-top: 2em;
    margin-bottom: 1em;
    }
    .thesis-video {
      margin-bottom: 1.5em;
      width: 100%;
      height: auto;
    }
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0 0 1.5em;
  align-items: baseline;
  background-color: #193441;
  color: #FFF;
  font-size: 0.75em;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}
.footer-links li {
  padding: 1em;
}

.footer-links a {
  color: #FFF;
}

.footer-links a:hover {
  color: #3E606F;
}

/* footer - mobile */

@media only screen and (max-width: 460px){
  .footer-links {
    display: none;
  }
  footer {
      padding: 1em 0 1em 0;
  }
}
