html {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

body {
    max-width: 1000px;
    font-family: Helvetica sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000;
}
/* navigation bar */
.nav-bar {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 4em;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
}

.nav-bar-logo {
  display: flex;
  align-items: center;
  height: 2em;
  width: auto;
}

.nav-bar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

.nav-bar-menu li{
  padding: 1em;
}

/* 1st section - learn something */

.learn {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.learn-img {
  width: 60%;
  height: auto;
  margin: 2em 1.5em;
}

.learn-img img {
  width: 100%;
}

.learn-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 40%;
}

.learn-box button {
  text-align: center;
  font-size: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: none;
}

/* 2nd section - practicing */

.practicing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em 0 2em 2em;
}

.practicing-left-column {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
}


.practicing-img {
  padding: 0 1.5em 2em 0;
}

.practicing-img img {
  width: 100%;
}

.practicing-right-column {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.practicing-boxes {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.practicing-boxes-img {
  width: 35%;
  height: auto;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.practicing-boxes-img img {
  width: 100%;
}

#practicing-boxes-img-first {
  margin-top: 0;
}


.practicing-boxes-text {
  width: 65%;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
}

.practicing-boxes-text p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.practicing-boxes-text span {
  text-decoration-color: #0000FF;
}

/* 3rd section - start learning */

.start-learning {
  padding: 1em 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.start-learning h1 {
  display: flex;
  justify-content: center;
}

.start-learning-boxes {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}

.start-learning-box {
  margin: 1em;
  display: flex;
  flex-direction: column;
  width: 29%;
  height: auto;
}

.start-learning-box-img img {
  width: 100%;
}

.start-learning-box-text {
  margin: 1em 0 1.5em 1em;
}

.start-learning-box-text h3 {
  margin-top: 0.5em 0 0.5em 0;
}

/* 4th section - thesis exibit */

.thesis {
  padding: 0 0 2em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thesis h1{
  display: flex;
  justify-content: center;
}

.thesis-columns {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.thesis-column-left {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  margin-right: 1.5em;
}

.thesis-video video{
  width: 100%;
  height:auto;
  margin-bottom: 1.5em;
}

.thesis-column-right {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.thesis-column-right-boxes {
  display: flex;
  flex-direction: row;
}

.thesis-column-right-boxes-img {
  margin: 1em 1em;
  width: 35%;
  height: auto;
}

.thesis-column-right-boxes-img img{
  width: 100%;
}

.thesis-column-right-boxes-text {
  width: 65%;
  display: inline-block;
}


/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0 0 1.5em;
  align-items: baseline;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}
.footer-links li {
  padding: 1em;
}
